@import '../../common/sizes';

.card {
  width: 240px;
  height: 320px;

  // &:hover {
  //   transform: scale(1.04);
  // }

  .content {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 30px);
  }
  
  .image {
    overflow: hidden;
  }
  .avatar {
    margin-top: -50%;
    margin-left: $gap-lg;
  }
  .label {
    text-transform: capitalize;
  }
}